<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app PUBLIC '-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN' 'http://java.sun.com/j2ee/dtds/web-app_2_2.dtd'>

<web-app>
	<display-name>Struts Blank Application</display-name>

	<!-- Standard Action Servlet Configuration (with debugging) -->
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>
			org.apache.struts.action.ActionServlet
		</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>
				/WEB-INF/struts-config.xml,
				/WEB-INF/struts-config-pm.xml,
				/WEB-INF/struts-config-back.xml
			</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>2</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>ShowImage</servlet-name>
		<servlet-class>edu.pm.uc.login.action.ShowImage</servlet-class>
	</servlet>
	
	<servlet>
	  <servlet-name>DisplayChart</servlet-name>
	  <servlet-class>org.jfree.chart.servlet.DisplayChart</servlet-class>
    </servlet>
  
	<servlet-mapping>
		<servlet-name>ShowImage</servlet-name>
		<url-pattern>/ShowImage/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
    <servlet-name>DisplayChart</servlet-name>
    <url-pattern>/DisplayChart</url-pattern>
  </servlet-mapping>
    

	<!-- Standard Action Servlet Mapping -->
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<!-- The Usual Welcome File List -->
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>

	<!-- Struts Tag Library Descriptors -->
	<taglib>
		<taglib-uri>/tags/struts-bean</taglib-uri>
		<taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
	</taglib>

	<taglib>
		<taglib-uri>/tags/struts-html</taglib-uri>
		<taglib-location>/WEB-INF/struts-html.tld</taglib-location>
	</taglib>

	<taglib>
		<taglib-uri>/tags/struts-logic</taglib-uri>
		<taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
	</taglib>

	<taglib>
		<taglib-uri>/tags/struts-nested</taglib-uri>
		<taglib-location>/WEB-INF/struts-nested.tld</taglib-location>
	</taglib>

	<taglib>
		<taglib-uri>/tags/struts-tiles</taglib-uri>
		<taglib-location>/WEB-INF/struts-tiles.tld</taglib-location>
	</taglib>

	<taglib>
		<taglib-uri>/tags/ajaxtags</taglib-uri>
		<taglib-location>/WEB-INF/ajaxtags.tld</taglib-location>
	</taglib>

	<taglib>
		<taglib-uri>/tags/struts-gdc</taglib-uri>
		<taglib-location>/WEB-INF/struts-gdc.tld</taglib-location>
	</taglib>

	<taglib>
		<taglib-uri>/pd4ml</taglib-uri>
		<taglib-location>/WEB-INF/pd4ml.tld</taglib-location>
	</taglib>

	<!--<resource-ref>
		<res-ref-name>localmail</res-ref-name>
		<res-type>javax.mail.Session</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

--></web-app>
